/*
 * Copyright 2013-2014 Freescale Semiconductor, Inc.
 *
 * This file is dual-licensed: you can use it either under the terms
 * of the GPL or the X11 license, at your option. Note that this dual
 * licensing only applies to this file, and not this project as a
 * whole.
 *
 *  a) This file is free software; you can redistribute it and/or
 *     modify it under the terms of the GNU General Public License as
 *     published by the Free Software Foundation; either version 2 of
 *     the License, or (at your option) any later version.
 *
 *     This file is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public
 *     License along with this file; if not, write to the Free
 *     Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston,
 *     MA 02110-1301 USA
 *
 * Or, alternatively,
 *
 *  b) Permission is hereby granted, free of charge, to any person
 *     obtaining a copy of this software and associated documentation
 *     files (the "Software"), to deal in the Software without
 *     restriction, including without limitation the rights to use,
 *     copy, modify, merge, publish, distribute, sublicense, and/or
 *     sell copies of the Software, and to permit persons to whom the
 *     Software is furnished to do so, subject to the following
 *     conditions:
 *
 *     The above copyright notice and this permission notice shall be
 *     included in all copies or substantial portions of the Software.
 *
 *     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
 *     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
 *     OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
 *     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT
 *     HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY,
 *     WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
 *     FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR
 *     OTHER DEALINGS IN THE SOFTWARE.
 */

/dts-v1/;
#include "ls1021a.dtsi"

/ {
	model = "MOXA UC8540";

	aliases {
		enet0_rgmii_phy = &rgmii_phy0;
		enet1_rgmii_phy = &rgmii_phy1;
		enet2_rgmii_phy = &rgmii_phy2;
	};

	clocks {
		sys_mclk: clock {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24576000>;
		};
	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_3p3v: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "3P3V";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};
	};
	
	leds {
		compatible = "gpio-leds";

		signal_led_0_0 {
			label = "UC8540:GREEN:CEL0_0";
			gpios = <&mled 0 0>;
			default-state = "off";
		};

		signal_led_0_1 {
			label = "UC8540:GREEN:CEL0_1";
			gpios = <&mled 1 0>;
			default-state = "off";
		};

		signal_led_0_2 {
			label = "UC8540:GREEN:CEL0_2";
			gpios = <&mled 2 0>;
			default-state = "off";
		};

		signal_led_1_0 {
			label = "UC8540:GREEN:CEL1_0";
			gpios = <&mled 3 0>;
			default-state = "off";
		};

		signal_led_1_1 {
			label = "UC8540:GREEN:CEL1_1";
			gpios = <&mled 4 0>;
			default-state = "off";
		};

		signal_led_1_2 {
			label = "UC8540:GREEN:CEL1_2";
			gpios = <&mled 5 0>;
			default-state = "off";
		};

		prog_led0 {
			label = "UC8540:RED:PROG0";
			gpios = <&mled 15 0>;
			default-state = "off";
		};

		sw_ready {
			label = "UC8540:GREEN:SWRDY";
			gpios = <&gpio4 16 0>;
			default-state = "on";
		};
	};

    gpio-keys {
        compatible = "gpio-keys";
        reset-key {
            label = "Reset key";
            gpios = <&gpio4 20 1>;
            linux,code = <69>;
            default-state = "on";
        };
    };
};

&enet0 {
	phy-handle = <&rgmii_phy0>;
	phy-mode = "rgmii-id";
	status = "okay";
};

&enet1 {
	phy-handle = <&rgmii_phy1>;
	phy-mode = "rgmii-id";
	status = "okay";
};

&enet2 {
	phy-handle = <&rgmii_phy2>;
	phy-mode = "rgmii-id";
	status = "disabled";
};

&i2c0 {
	status = "okay";
	clock-frequency = <100000>;

	rtc@68 {
		compatible = "dallas,ds1374";
		reg = <0x68>;
	};
};

&i2c1 {
	status = "okay";
	clock-frequency = <100000>;

	mled: gpio@26 {
		compatible = "nxp,pca9535";
		reg = <0x26>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupts = <23 IRQ_TYPE_LEVEL_LOW>;
	};
};

&i2c2 {
	status = "disabled";
	monitor: ltc2945@67 {
		reg = <0x67>;
	};
};

&ifc {
	status = "disabled";
	#address-cells = <2>;
	#size-cells = <1>;
	/* NOR Flash on board */
	ranges = <0x0 0x0 0x0 0x60000000 0x08000000>;

	nor@0,0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "cfi-flash";
		reg = <0x0 0x0 0x8000000>;
		bank-width = <2>;
		device-width = <1>;
	};
};

&lpuart0 {
	status = "okay";
};

&lpuart1 {
	status = "okay";
};

&mdio0 {
	rgmii_phy0: ethernet-phy@0 {
		compatible = "marvell,88e1510";	
		reg = <0x0>;
		marvell,reg-init =
			/* marvell,reg-init = <reg-page reg mask value> */
			<3 0x11 0 0x15>, /* Reg 3,17 */
			<3 0x10 0 0x177>; /* Reg 3,16 */
	};
	rgmii_phy1: ethernet-phy@1 {
		compatible = "marvell,88e1510";
		reg = <0x1>;
		marvell,reg-init =
			/* marvell,reg-init = <reg-page reg mask value> */
			<3 0x11 0 0x15>, /* Reg 3,17 */
			<3 0x10 0 0x177>; /* Reg 3,16 */
	};
	rgmii_phy2: ethernet-phy@2 {
		compatible = "marvell,88e1510";
		reg = <0x2>;
		marvell,reg-init =
			/* marvell,reg-init = <reg-page reg mask value> */
			<3 0x11 0 0x4415>, /* Reg 3,17 */
			<3 0x10 0 0x77>; /* Reg 3,16 / LED[0]:orange LED[1]:green, 4bit per LED */
	};
	tbi1: tbi-phy@1f {
		reg = <0x1f>;
		device_type = "tbi-phy";
	};
};

&uqe {
	tdma: ucc@2000 {
		compatible = "fsl,ucc-tdm";
		rx-clock-name = "clk8";
		tx-clock-name = "clk9";
		fsl,rx-sync-clock = "rsync_pin";
		fsl,tx-sync-clock = "tsync_pin";
		fsl,tx-timeslot = <0xfffffffe>;
		fsl,rx-timeslot = <0xfffffffe>;
		fsl,tdm-framer-type = "e1";
		fsl,tdm-mode = "normal";
		fsl,tdm-id = <0>;
		fsl,siram-entry-id = <0>;
	};

	serial: ucc@2200 {
		device_type = "serial";
		compatible = "ucc_uart";
		port-number = <1>;
		rx-clock-name = "brg2";
		tx-clock-name = "brg2";
	};
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&pwm6 {
	status = "okay";
};

&pwm7 {
	status = "okay";
};

&dcfg {
	status = "okay";
};

&qspi {
	status = "okay";
	bus-num = <0>;
	fsl,spi-num-chipselects = <2>;
	fsl,spi-flash-chipselects = <0>;
	fsl,qspi-has-second-chip;

	qflash0: qspi_flash@0 {
		compatible = "spansion,s25fl164k", "spansion,s25fl064l", "mx25l6405d","jedec,spi-nor";
		spi-max-frequency = <20000000>;
		reg = <0>;

		partitions { /*according to kernel Document, must be "partitions", note the 's'*/
			compatible = "fixed-partitions";
			#address-cells = <1>;
			#size-cells = <1>;

			U-Boot@0 {
				label = "U-Boot";
				reg = <0x0 0x180000>;
			};
			U-Boot_Env@180000 {
				label = "U-Boot Env";
				reg = <0x180000 0x40000>;
			};
		};
	};
};

&uart1 {
	status = "okay";
};

&sai1 {
	status = "okay";
};

&sata {
	status = "okay";
};

&dspi0 {
	compatible = "fsl,vf610-dspi";
	status = "okay";
	bus-num = <0>;

	tpm_spi_tis@0 {
		compatible = "tcg,tpm_spi_tis";
		spi-max-frequency = <0x1388>;
		reg = <0x0>;
	};
};
